chat-basic-code-analysis-t76O8dlpplznytKM.json
{"createdAt":"2025-03-05T00:37:13.868Z","updatedAt":"2025-03-05T13:34:21.000Z","id":"t76O8dlpplznytKM","name":"Chat-Basic Code analysis","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-520,-120],"id":"b0dfc427-c37f-4f1e-997e-e31e17ba4231","name":"When chat message received","webhookId":"637400d0-b3ec-45a1-a0de-7a8f6387360e"},{"parameters":{"promptType":"define","text":"=Please do the code review {{ $json.chatInput }}\n\n\nverify code check for followings: \n1. Code has proper comments\n2. There is no duplicate code\n3. Running linting checks\n4. Running static code analysis\n5. Provide suggestion to improve the code"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-300,-120],"id":"53037620-d659-4a22-88f0-3dd9facd55d7","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-280,140],"id":"5690c3d3-7202-41fe-b64e-0669231e5497","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"VgZd17yooqLik5Bl","name":"Anthropic account 2"}}}],"connections":{"When chat message received":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"t76O8dlpplznytKM"},"staticData":null,"meta":{"templateId":"1963"},"pinData":{},"versionId":"1e77c9cd-898c-4295-8e20-a2be19f9fda7","triggerCount":0,"tags":[]}