git-integration-MePGIgrMYT1ZjWow.json
{"createdAt":"2025-03-05T13:34:34.108Z","updatedAt":"2025-03-05T13:54:38.000Z","id":"MePGIgrMYT1ZjWow","name":"Git-Integration","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=Please do the code review {{ $json.chatInput }}\n\n\nverify code check for followings: \n1. Code has proper comments\n2. There is no duplicate code\n3. Running linting checks\n4. Running static code analysis\n5. Provide suggestion to improve the code"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-80,-120],"id":"3c34aa3f-1b65-42fd-b7b9-3ada74dbcb80","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-60,140],"id":"020e6982-c4e0-4d1d-903b-278183fdd759","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"VgZd17yooqLik5Bl","name":"Anthropic account 2"}}},{"parameters":{"owner":{"__rl":true,"value":"https://github.com/pawan97us","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/pawan97us/medicalscraper","mode":"url"},"events":["pull_request","push"],"options":{}},"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[-520,-120],"id":"7eb3d28b-c16d-42e7-abd8-01b41943054c","name":"Github Trigger","webhookId":"9ce603a6-8e11-4d6f-820e-c4ad6c05de86"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a75eca2-1876-42a5-92ee-d524a4c1e598","leftValue":"={{$json[\"body\"][\"action\"]}}","rightValue":"opened","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6838df8e-c54d-41de-9c1e-c1c4c5fa8cc8","leftValue":"{{$json[\"headers\"][\"x-github-event\"]}}","rightValue":"push","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,-120],"id":"b4e5d76f-1b1d-41f6-a177-b271b3ca5c32","name":"If"}],"connections":{"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Github Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"t76O8dlpplznytKM"},"staticData":null,"meta":{"templateId":"1963"},"pinData":{},"versionId":"33158d93-98f6-4539-936a-6eec55357df5","triggerCount":0,"tags":[]}