trigger-a-build-in-travis-ci-when-code-changes-are-push-to-a-github-repo-D3L7CYKDC28741dj.json
{"createdAt":"2025-03-05T13:52:11.843Z","updatedAt":"2025-03-05T13:52:11.843Z","id":"D3L7CYKDC28741dj","name":"Trigger a build in Travis CI when code changes are push to a GitHub repo","active":false,"nodes":[{"parameters":{"authentication":"oAuth2","owner":"n8n-io","repository":"n8n","events":["push","pull_request"],"options":{}},"name":"Github Trigger","type":"n8n-nodes-base.githubTrigger","position":[380,240],"webhookId":"01518289-14b1-4a45-9d33-39be08f7a544","typeVersion":1,"id":"2008841b-6b4c-4041-9c2f-3f11503bab49"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"body\"][\"action\"]}}","value2":"opened"},{"value1":"={{$json[\"headers\"][\"x-github-event\"]}}","value2":"push"}]},"combineOperation":"any"},"name":"IF","type":"n8n-nodes-base.if","position":[580,240],"typeVersion":1,"id":"1cde3f09-4d7f-4b34-ab3d-6aa08ce58448"},{"parameters":{"operation":"trigger","slug":"={{$json[\"body\"][\"repository\"][\"full_name\"]}}","branch":"=","additionalFields":{}},"name":"TravisCI","type":"n8n-nodes-base.travisCi","position":[780,140],"typeVersion":1,"id":"efa04770-c80f-41dd-91e4-f0b90dc2dd6a"},{"parameters":{},"name":"NoOp","type":"n8n-nodes-base.noOp","position":[780,340],"typeVersion":1,"id":"a9f517ab-ea28-456c-96e3-7ab08c0b8e76"}],"connections":{"IF":{"main":[[{"node":"TravisCI","type":"main","index":0}],[{"node":"NoOp","type":"main","index":0}]]},"Github Trigger":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1132"},"pinData":{},"versionId":"e3cf4cc2-1550-4ee7-a6cf-ce83013e1fe5","triggerCount":0,"tags":[]}